## .gitignore for bio project 

## Folders to ignore - typically ignore the data, logs, output, checkpoints, and images folders
/images/
/bio
/.claude
/data
./logs
./output
./checkpoints
./*.pyc
./__pycache__
./*.log
./*.csv
./*.json
./*.h5
./*.ckpt
./*.pt
./*.pth
./*.zip
./*.tar.gz

./pyvenv.cfg
./venv/
./env/
./.venv/
./.env/
./.idea/
./.vscode/
./.DS_Store 


*.xlsx
*.xls
*.docx
*.doc
*.pptx
*.ppt
*.pdf
*.txt

